.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    max-width: 300px;
    margin: 0 auto;
}

p {
    text-align: center;
    min-height: 2rem;
}

button {
    padding: 1rem;
}

button:last-child {
    grid-column: span 2;
}
